Node_Red_flows.json
[{"id":"bbcb3320.37ed9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6f0bab5c.894644","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fcd628c7.a6d6e8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9e5d9ae.d167168","type":"ui_group","z":"","name":"DHT","tab":"88ffdfdc.40e63","order":1,"disp":true,"width":"6","collapse":false},{"id":"88ffdfdc.40e63","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a77209fc.a2dee8","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#333333","edited":true},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4657c799.53b158","type":"ui_gauge","z":"bbcb3320.37ed9","name":"","group":"9e5d9ae.d167168","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0077b3","#e6a800","#ca3838"],"seg1":"","seg2":"","x":370,"y":120,"wires":[]},{"id":"40ca7d0e.f9adf4","type":"ui_gauge","z":"bbcb3320.37ed9","name":"","group":"9e5d9ae.d167168","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#0077b3","#0082e6","#3a4acb"],"seg1":"","seg2":"","x":360,"y":260,"wires":[]},{"id":"3a5fc030.734e9","type":"mqtt in","z":"bbcb3320.37ed9","name":"","topic":"esp32/dht/temperature","qos":"1","datatype":"auto","broker":"fcd628c7.a6d6e8","x":140,"y":120,"wires":[["4657c799.53b158","79072ee0.0ab9d"]]},{"id":"eb0c2378.365be","type":"mqtt in","z":"bbcb3320.37ed9","name":"","topic":"esp32/dht/humidity","qos":"1","datatype":"auto","broker":"fcd628c7.a6d6e8","x":110,"y":260,"wires":[["40ca7d0e.f9adf4","79072ee0.0ab9d"]]},{"id":"79072ee0.0ab9d","type":"function","z":"bbcb3320.37ed9","name":"function","func":"if (msg.payload.temperature> 22){\n    node.send({\n        topic:\"Subject: System temperature has been exceeded\",\n         payload:\"Temperature:\"+ msg.payload.temperature,\n    })\n}\nif (msg.payload.humidity> 80){\n    node.send({\n        topic:\"Subject: System humidity has been exceeded\",\n         payload:\"Humidity:\"+ msg.payload.humidity,\n    })\n}\nmsg.topic = \"Message from Nodered\"\n\nmsg.payload = \"humidity is higher that 80%\\n\"+\"tempreture is higher that 22°C\"+\"Humidity:\"+ msg.payload.humidity\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":180,"wires":[["3e08c994.90eae6","c53322e7.dbc6a"]]},{"id":"3e08c994.90eae6","type":"e-mail","z":"bbcb3320.37ed9","server":"smtp.gmail.com","port":"587","secure":false,"tls":true,"name":"","dname":"email_alert","x":570,"y":160,"wires":[]},{"id":"c53322e7.dbc6a","type":"debug","z":"bbcb3320.37ed9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":240,"wires":[]},{"id":"b2a15f90.2c51e","type":"inject","z":"bbcb3320.37ed9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"Hello","payload":"","payloadType":"date","x":160,"y":420,"wires":[["b327c6e0.e23688"]]},{"id":"8567f48c.97ad58","type":"debug","z":"bbcb3320.37ed9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":240,"wires":[]},{"id":"122f2f4f.88c8d1","type":"debug","z":"bbcb3320.37ed9","name":"","active":true,"tosidebar":true,"console":false,{"id":"87af29ba.db0c88","type":"function","z":"bbcb3320.37ed9","name":"","func":"msg.payloud = \"Hello\"\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":500,"wires":[["d9a257bc.8257c8","b4a86fa7.18daf"]]}]